@{
    ViewBag.Title = "All Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<TaskWeb.Models.Task>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Active Tasks</h3>    
        <ul>
            @foreach (var t in Model.Where(k => k.Complete != true))
            {
                <li>@string.Format("{0} - ", t.Name) @Html.ActionLink("complete", "Complete", "Task", new { TaskID = t.TaskId }, null)</li>
            }
        </ul>
        @Html.ActionLink("Add a task", "AddTask")
        <h3>Completed Tasks</h3>
        <ul>
            @foreach (var t in Model.Where(k => k.Complete == true))
            {
                <li>@string.Format("{0} - ", t.Name) @Html.ActionLink("delete", "Delete", "Task", new { TaskID = t.TaskId }, null)</li>
            }
        </ul>
        <br />
        
    </div>
</body>
</html>
