@{
    ViewBag.Title = "Add Task to Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<TaskWeb.Models.Project>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>All Projects</h3>    
        <ul>
            @foreach (var p in Model)
            {
                if (p.Status == "Complete")
                {
                    <li>@string.Format("{0} (completed)", p.Name)</li>
                }
                else
                {
                    <li>@string.Format("{0} (active - ", p.Name) @Html.ActionLink("add tasks", "Index", "AddTaskToProject", new { ProjectName = p.Name }, null) @string.Format(" - ") @Html.ActionLink("complete", "Complete", "Project", new { ProjectName = p.Name }, null) @string.Format(")")</li>
                }
            }
            
        </ul>
        <br />
        @Html.ActionLink("Add a project", "AddProject")
    </div>
</body>
</html>
