@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<TaskWeb.Models.Project>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Active Projects</h3>    
        <ul>
            @foreach (var p in Model.Where(t => t.Status != "Completed"))
            {
                <li>@string.Format("{0} - ", p.Name) @Html.ActionLink("add tasks", "Index", "AddTaskToProject", new { ProjectName = p.Name }, null) @string.Format(" - ") @Html.ActionLink("complete", "Complete", "Project", new { ProjectName = p.Name }, null)</li>
            }
        </ul>
        @Html.ActionLink("Add a project", "AddProject")
        <h3>Completed Projects</h3>
        <ul>
            @foreach (var p in Model.Where(t => t.Status == "Completed"))
            {
                <li>@string.Format("{0} - ", p.Name) @Html.ActionLink("delete", "Delete", "Project", new { ProjectName = p.Name }, null)</li>
            }
        </ul>
<br />
        
    </div>
</body>
</html>
