@{
    ViewBag.Title = "Add Task to Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TaskWeb.Models.ProjectTask

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Tasks in Project: "@Model.project.Name"</h3>
        <ul>
            @if(Model.project.TaskIdList.Count == 0)
            {
                <li>No tasks</li>
            }
            @foreach (var id in Model.project.TaskIdList)
            {
                <li>@string.Format("{0}", Model.allTaskList.First(t => t.TaskId == id).Name) </li>
            }

        </ul>
        <h3>Add a task to this project:</h3>
        <ul>
            @foreach (var t in Model.allTaskList)
            {
                if (t.Complete != true)
                {
                    var found = false;
                    foreach(var id in Model.project.TaskIdList)
                    {
                        if(id == t.TaskId)
                        {
                            found = true;
                            break;
                        }
                    }
                    if (!found)
                    {
                        <li>@string.Format("{0} - ", t.Name) @Html.ActionLink("add this task", "AddTask", "AddTaskToProject", new { projectName = Model.project.Name, TaskID = t.TaskId }, null)</li>
                    }
                }
            }

        </ul>
        <br />
        @Html.ActionLink("Back to Projects", "Index", "Project")
    </div>
</body>
</html>
